USE [master]
GO
/****** Object:  Database [QuanLyCovid]    Script Date: 20/12/2021 22:24:05 ******/
CREATE DATABASE [QuanLyCovid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCovid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyCovid.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCovid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyCovid_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCovid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCovid]
GO
/****** Object:  Schema [Covid]    Script Date: 20/12/2021 22:24:05 ******/
CREATE SCHEMA [Covid]
GO
/****** Object:  Table [Covid].[Account]    Script Date: 20/12/2021 22:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Covid].[Account](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[Quyen] [bit] NULL,
	[TenNguoiNhap] [nvarchar](50) NOT NULL,
	[CMND] [int] NOT NULL,
	[Sdt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Covid].[BenhNhan]    Script Date: 20/12/2021 22:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Covid].[BenhNhan](
	[IDBenhNhan] [int] NOT NULL,
	[TenBenhNhan] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NOT NULL,
	[CMND] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[TinhTrangSucKhoe] [nvarchar](1) NOT NULL,
	[Email] [nvarchar](20) NULL,
	[SDT] [int] NULL,
	[TenNguoiGiamHo] [nvarchar](50) NULL,
	[IDPhongDieuTri] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Covid].[KhuVucDieuTri]    Script Date: 20/12/2021 22:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Covid].[KhuVucDieuTri](
	[IDKhuVucDieuTri] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuVucDieuTri] [nvarchar](50) NOT NULL,
	[Mota] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhuVucDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenKhuVucDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Covid].[LichSuDieuTri]    Script Date: 20/12/2021 22:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Covid].[LichSuDieuTri](
	[IDLichSuDieuTri] [int] IDENTITY(1,1) NOT NULL,
	[IDBenhNhan] [int] NULL,
	[IDNguoiDieuTri] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[LichSuDieuTri] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLichSuDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Covid].[NguoiDieuTri]    Script Date: 20/12/2021 22:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Covid].[NguoiDieuTri](
	[IDNguoiDieuTri] [int] NOT NULL,
	[TenNguoiDieuTri] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NOT NULL,
	[CMND] [int] NOT NULL,
	[SDT] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNguoiDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Covid].[PhongDieuTri]    Script Date: 20/12/2021 22:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Covid].[PhongDieuTri](
	[IDPhongDieuTri] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongDieuTri] [nvarchar](50) NOT NULL,
	[IDKhuVucDieuTri] [int] NULL,
	[SoLuongGiuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenPhongDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Covid].[Account] ADD  DEFAULT ((0)) FOR [Quyen]
GO
ALTER TABLE [Covid].[BenhNhan] ADD  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [Covid].[BenhNhan] ADD  DEFAULT ((0)) FOR [TinhTrangSucKhoe]
GO
ALTER TABLE [Covid].[BenhNhan] ADD  DEFAULT (N'Không có') FOR [TenNguoiGiamHo]
GO
ALTER TABLE [Covid].[NguoiDieuTri] ADD  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [Covid].[BenhNhan]  WITH CHECK ADD FOREIGN KEY([IDPhongDieuTri])
REFERENCES [Covid].[PhongDieuTri] ([IDPhongDieuTri])
GO
ALTER TABLE [Covid].[LichSuDieuTri]  WITH CHECK ADD FOREIGN KEY([IDBenhNhan])
REFERENCES [Covid].[BenhNhan] ([IDBenhNhan])
GO
ALTER TABLE [Covid].[LichSuDieuTri]  WITH CHECK ADD FOREIGN KEY([IDNguoiDieuTri])
REFERENCES [Covid].[NguoiDieuTri] ([IDNguoiDieuTri])
GO
ALTER TABLE [Covid].[PhongDieuTri]  WITH CHECK ADD FOREIGN KEY([IDKhuVucDieuTri])
REFERENCES [Covid].[KhuVucDieuTri] ([IDKhuVucDieuTri])
GO
USE [master]
GO
